<script src="http://maps.google.co.jp/maps?file=api&amp;v=1&amp;datum=wgs84&amp;key=<{$mygmap_API}>" type="text/javascript" charset="utf-8"></script>
<script src="<{$smarty.const.XOOPS_URL}>/modules/mygmap/mygmap.js" type="text/javascript"></script>
<table><tr><td style="width:<{$mygmap_width}>px">
<{if $mygmap_search == "1"}>
<div id="mygmap_search">
<form id="mygmap_loc_form" action="#">
<{$smarty.const._MYGMAP_LANG_ADDRESS}>:<input type="text" autocomplete="off" name="mygmap_loc_form_addr" id="mygmap_loc_form_addr" onkeyup="myGmapRequestLoc('ADDRESS', this.value)" value="" size="40" />
<{$smarty.const._MYGMAP_LANG_STATION}>:<input type="text" autocomplete="off" name="mygmap_loc_form_station" id="mygmap_loc_form_station" onkeyup="myGmapRequestLoc('STATION', this.value)" value="" size="30" />
</form>
</div>
<{/if}>
<div id="mygmap_map" style="width:<{$mygmap_width}>px; height:<{$mygmap_height}>px;color:#000000"></div>
<{if $mygmap_search == "1"}>
<div id="mygmap_addr" style="width:<{$mygmap_width}>px;text-align:center;font-size:12px;">&nbsp;</div>
<{/if}>
<div style="width:<{$mygmap_width}>px;text-align:right;font-size:10px;"><{$mygmap_credit}></div>
</td>
<td style="width:300px">
<div id="mygmap_catlist" style="text-align:right">
<form id="mygmap_cat_form" action="#">
<{$smarty.const._MYGMAP_LANG_CATEGORY}>:<select name="mygmap_cat_form_list" id="mygmap_loc_form_cat" onchange="window.location ='<{$smarty.const.XOOPS_URL}>/modules/mygmap/?cat='+document.forms.mygmap_cat_form.mygmap_cat_form_list[document.forms.mygmap_cat_form.mygmap_cat_form_list.selectedIndex].value;">
  <option value="" ></option>
<{foreach item=mygmap_cat from=$mygmap_catlist}>
  <option value="<{$mygmap_cat.id}>" <{if $mygmap_cat.id == $mygmap_category.id}>selected=selected<{/if}>><{$mygmap_cat.name}></value>
<{/foreach}>
</select></form>
</div>
<div id="mygmap_list">
<{if $mygmap_category }>
<h4 onclick="mygmap_map.centerAndZoom(new GPoint(<{$mygmap_category.lat}>, <{$mygmap_category.lng}>), <{$mygmap_category.zoom}>);">[ <{$smarty.const._MYGMAP_LANG_CATEGORY}> : <a href="#" ><{$mygmap_category.name}></a> ]
<{if $xoopsUserIsAdmin && $mygmap_category.id != 0}>
  <a href="category.php?cat=<{$mygmap_category.id}>">[<{$smarty.const._MYGMAP_LANG_EDIT}>]</a>
<{/if}></h4>
<ul>
<{foreach item=mygmap_marker from=$mygmap_markers}>
 <li>
   <span onclick="mygmap_map.centerAndZoom(new GPoint(<{$mygmap_marker.lat}>, <{$mygmap_marker.lng}>), <{$mygmap_marker.zoom}>);">
     <span id="mygmap_marker_<{$mygmap_marker.id}>"><{$mygmap_marker.mark}>.</span>&nbsp;<a href="#"><{$mygmap_marker.title}></a>
   </span>
<{if $xoopsUserIsAdmin && $mygmap_marker.id != 0}>
     <a href="marker.php?id=<{$mygmap_marker.id}>">[<{$smarty.const._MYGMAP_LANG_EDIT}>]</a>
<{/if}> </li>
<{/foreach}></ul>
<{/if}>
</div>
<{if $mygmap_search == "1"}>
<div id="mygmap_search_list"></div>
<{/if}>
<{if $mygmap_areas }>
<div id="mygmap_area">
<h4>[ <{$smarty.const._MYGMAP_LANG_AREA}> ]</h4>
<ul>
<{foreach item=mygmap_area from=$mygmap_areas}>
 <li>
   <span onclick="mygmap_map.centerAndZoom(new GPoint(<{$mygmap_area.lat}>, <{$mygmap_area.lng}>), <{$mygmap_area.zoom}>);">
     <a href="#"><b><{$mygmap_area.name}></b></a>
   </span>
<{if $xoopsUserIsAdmin}>
     <a href="area.php?area=<{$mygmap_area.id}>">[<{$smarty.const._MYGMAP_LANG_EDIT}>]</a>
<{/if}> </li>
<{/foreach}></ul>
</div>
<{/if}>
</td>
</tr></table>
<form id="mygmap_info_form" action="#">
<{if $mygmap_wiki == "1"}>
  Wiki:<input type="text" name="mygmap_info_form_wiki" id="mygmap_info_form_wiki" size="50" value="" /><br />
<{/if}><{if $mygmap_link == "1"}>  URL :<input type="text" name="mygmap_info_form_link" id="mygmap_info_form_link" readonly="readonly" size="60" value="" /><br />
<{/if}>
<{if $mygmap_blog == "1"}>  blog:<input type="text" name="mygmap_info_form_blog" id="mygmap_info_form_blog" size="60" value="" /><br />
<{/if}>
</form>
<{if $xoopsUserIsAdmin}>
<form id="mygmap_addcategory_form" action="category.php" method="post">
  <input id="mygmap_addcategory_form_lat" type="hidden" name="mygmap_category_lat" value="" />  <input id="mygmap_addcategory_form_lng" type="hidden" name="mygmap_category_lng" value="" />  <input id="mygmap_addcategory_form_zoom" type="hidden" name="mygmap_category_zoom" value="" />  <input type="hidden" name="op" value="new" />  <input type="submit" name="submit" value="<{$smarty.const._MYGMAP_LANG_NEWCATEGORY}>"/></form><br/>
<form id="mygmap_addmark_form" action="marker.php" method="post">
<{if $mygmap_category }>
  <input id="mygmap_addmark_form_cat" type="hidden" name="mygmap_marker_category_id" value="<{$mygmap_category.id}>" />
<{else}>
  <input id="mygmap_addmark_form_cat" type="hidden" name="mygmap_marker_category_id" value="" />
<{/if}>
  <input id="mygmap_addmark_form_lat" type="hidden" name="mygmap_lat" value="" />  <input id="mygmap_addmark_form_lng" type="hidden" name="mygmap_lng" value="" />  <input id="mygmap_addmark_form_zoom" type="hidden" name="mygmap_zoom" value="" />  <input type="hidden" name="op" value="new" />  <input type="submit" name="submit" value="<{$smarty.const._MYGMAP_LANG_NEWPOINT}>"/></form><br/>
<form id="mygmap_addarea_form" action="area.php" method="post">
  <input id="mygmap_addarea_form_lat" type="hidden" name="mygmap_area_lat" value="" />  <input id="mygmap_addarea_form_lng" type="hidden" name="mygmap_area_lng" value="" />  <input id="mygmap_addarea_form_zoom" type="hidden" name="mygmap_area_zoom" value="" />  <input type="hidden" name="op" value="new" />  <input type="submit" name="submit" value="<{$smarty.const._MYGMAP_LANG_NEWAREA}>"/></form><br/>
<{if $mygmap_setdef_show}>
<form id="mygmap_default_form" action="set_default.php" method="post">  <input id="mygmap_default_form_lat" type="hidden" name="lat" value="" />  <input id="mygmap_default_form_lng" type="hidden" name="lng" value="" />  <input id="mygmap_default_form_zoom" type="hidden" name="zoom" value="" />  <input type="submit" name="submit" value="<{$smarty.const._MYGMAP_LANG_SETDEFAULT}>" /></form><br/>
<{/if}>
<{/if}>
<{if $mygmap_debug}>
<div id="mygmap_message"></div>
<div id="mygmap_debug"></div>
<input type="submit" name="submit" value="Debug Clear" onclick="myGmapDebugClear()" /><{/if}>

<script type="text/javascript">
//<![CDATA[var mygmap_map;
var iconpath = '<{$smarty.const.XOOPS_URL}>/modules/mygmap/images';var mygmappath = '<{$smarty.const.XOOPS_URL}>/modules/mygmap/';window.onload = myGmapLoad;

function myGmapSetInitialLocation() {
  mygmap_map.centerAndZoom(new GPoint(<{$mygmap_center_lat}>,<{$mygmap_center_lng}>), <{$mygmap_zoom}>);
<{foreach item=mygmap_marker from=$mygmap_markers}>
  myGmapAddMarker(mygmap_map, <{$mygmap_marker.lat}>, <{$mygmap_marker.lng}>,'<{$mygmap_marker.text}>','<{$mygmap_marker.mark}>',<{$mygmap_marker.id}>);
<{/foreach}>
  myGmapMoved();}

function myGmapSetFormVaules(lat,lng,zoom) {
	myGmapSetAttributeByID('mygmap_addcategory_form_lat', 'value', lat);
	myGmapSetAttributeByID('mygmap_addcategory_form_lng', 'value', lng);
	myGmapSetAttributeByID('mygmap_addcategory_form_zoom', 'value', zoom);
	myGmapSetAttributeByID('mygmap_addmark_form_lat', 'value', lat);
	myGmapSetAttributeByID('mygmap_addmark_form_lng', 'value', lng);
	myGmapSetAttributeByID('mygmap_addmark_form_zoom', 'value', zoom);
	myGmapSetAttributeByID('mygmap_addarea_form_lat', 'value', lat);
	myGmapSetAttributeByID('mygmap_addarea_form_lng', 'value', lng);
	myGmapSetAttributeByID('mygmap_addarea_form_zoom', 'value', zoom);
	myGmapSetAttributeByID('mygmap_default_form_lat', 'value', lat);
	myGmapSetAttributeByID('mygmap_default_form_lng', 'value', lng);
	myGmapSetAttributeByID('mygmap_default_form_zoom', 'value', zoom);
	myGmapSetAttributeByID('mygmap_info_form_wiki', 'value',
					'#gmapp(' + lat + ',' + lng + ','+ zoom + ')');	myGmapSetAttributeByID('mygmap_info_form_link', 'value',
					'<{$smarty.const.XOOPS_URL}>/modules/mygmap/?lat=' + lat + '&lng=' + lng + '&z='+ zoom);	myGmapSetAttributeByID('mygmap_info_form_blog', 'value',
					'&lt;iframe src="/fgmap/?n=' + lng + '&e=' + lat + '&z='+ zoom + '&t=" width="400" height="350" frameborder="0" scrolling="no"&gt;&lt;/iframe&gt;');}
//]]></script>