<div style="text-align:center">
<div id="<{$block.divid}>" style="height:240px;"></div>
<span><a href="<{$smarty.const.XOOPS_URL}>/modules/mygmap/?cat=<{$block.category_id}>&amp;id=<{$block.id}>" title="<{$block.title}>"><{$block.title}></a></span>
</div>
<script type="text/javascript">
//<![CDATA[
var mygmappath = '<{$smarty.const.XOOPS_URL}>/modules/mygmap/';
var mygmap_API = "<{$block.mygmap_API}>";
var useUDAPI = <{$block.mygmap_use_undocAPI}>;
//]]>
</script>
<script src="<{$smarty.const.XOOPS_URL}>/modules/mygmap/mygmap_loader.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
myGmapMiniMaps[myGmapMiniMap_idx++] = {'divid':'<{$block.divid}>','x':<{$block.lat}>,'y':<{$block.lng}>,'zoom':<{$block.zoom}>};
//]]>
</script>
